@model publicLibrary.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h1>Details of Book: @Model.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Title:
        </dt>
        <dd class = "col-sm-10">
            @Model.Title
        </dd>
        
        <dt class = "col-sm-2">
            Author:
        </dt>
        <dd class = "col-sm-10">
            @Model.Author
        </dd>
        
        <dt class = "col-sm-2">
            Genre:
        </dt>
        <dd class = "col-sm-10">
            @Model.Genre
        </dd>

        <dt class = "col-sm-2">
            Released Date:
        </dt>
        <dd class = "col-sm-10">
            @Model.Released
        </dd>
        
        <dt class = "col-sm-2">
            Stock:
        </dt>
        <dd class = "col-sm-10">
            @Model.Stock
        </dd>
        
        <dt class = "col-sm-2">
            Code:
        </dt>
        <dd class = "col-sm-10">
            @Model.Code
        </dd>
        
        <dt class = "col-sm-2">
            Publishing House:
        </dt>
        <dd class = "col-sm-10">
            @Model.PublishingHouse
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>